.background {
    -fx-background-color: #ffffff;
}

.border-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #eeeff1;
    -fx-border-width: 2 0 0 0;
	-fx-text-fill: #6d7986;
	-fx-font-size: 14;
}

.vbox {
    -fx-padding: 25 0 0 0;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #eeeff1;
    -fx-alignment: top-left;
}

.button {
     -fx-padding: 0 0 0 25;
     -fx-min-width: 200;
     -fx-min-height: 40;
 	-fx-background-color: transparent;
 	-fx-background-radius: 0;
 	-fx-text-fill: #6d7986;
 	-fx-font-size: 14;
     -fx-alignment: center-left;
 }

 .button:hover, .button:focused {
     -fx-background-color: edeff1;
 }