.search-input {
    -fx-padding: 25 10 10 10;
    -fx-alignment: center-left;
    -fx-padding: 10 10 10 10;
}

.search-input-label {
    -fx-min-width: 75;
    -fx-padding: 0 10 0 30;
	-fx-text-fill: #6d7986;
	-fx-font-size: 14;
}

.search-input-text-field-name {
    -fx-padding: 0 10 0 10;
    -fx-min-width: 200;
    -fx-pref-width: 300;
    -fx-max-width: 300;
    -fx-min-height: 28;
    -fx-max-height: 28;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #eeeff1;
    -fx-alignment: center;
	-fx-text-fill: #6d7986;
	-fx-font-size: 14;
}

.search-input-text-field-name:focused {
    -fx-border-color: transparent;
}

.search-input-text-field-car {
    -fx-padding: 0 10 0 10;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-min-height: 28;
    -fx-max-height: 28;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #eeeff1;
    -fx-alignment: center;
	-fx-text-fill: #6d7986;
	-fx-font-size: 14;
}

.search-input-text-field-car:focused {
    -fx-border-color: transparent;
}

.search-button {
    -fx-padding: 0 0 0 0;
    -fx-min-width: 100;
    -fx-min-height: 30;
    -fx-max-width: 100;
    -fx-max-height: 30;
    -fx-border-color: #6d7986;
    -fx-border-width: 1;
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-text-fill: #6d7986;
	-fx-font-size: 14;
    -fx-alignment: center;
}

.search-button:hover {
    -fx-background-color: edeff1;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view:focused {
   -fx-background-color: transparent /* or transparent or other preferred color */,-fx-box-border,-fx-control-inner-background;
   -fx-background-insets: -1.4, 0, 1;
   -fx-background-radius: 1.4, 0, 0;
   /*....*/
   -fx-padding: 1; /* 0.083333em; */
 }