.add-delete-button {
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-min-height: 30;
    -fx-max-height: 30;
 }

.version-button {
    -fx-alignment: center;
    -fx-padding: 0 0 0 0;
    -fx-min-width: 175;
    -fx-max-width: 175;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: #6d7986;
    -fx-font-size: 14;
    -fx-border-color: #6d7986;
    -fx-border-width: 1;
 }

 .version-button:hover {
     -fx-background-color: edeff1;
 }